<div class="card-columns animated fadeIn" id="principal">
    <div class="card">
        <div class="caja"><img alt="..." class="card-img-top" data-target="#exampleModal" data-toggle="modal" src="../../../assets/proyectos1.jpeg"></div>
        <div class="card-body">
            <h5 class="card-title">TUNEL MULATOS (PACIFICO 2) - CONSORCIO SUROESTE</h5>
            <p class="card-text">Chequeo de poligonal de amarre, marcación y replanteo de frente, levantamiento de secciones transversales, dibujo y calculo de volúmenes, escaneo 3D de tunel.</p>
        </div>
        <div class="footer"></div>
    </div>
    <div class="card">
        <div class="caja"><img alt="..." class="card-img-top" data-target="#exampleModa2" data-toggle="modal" src="../../../assets/proyectos2.jpeg"></div>
        <div class="card-body">
            <h5 class="card-title">TÚNEL DEL TOYO - CONSORCIO ANTIOQUIA AL MAR</h5>
            <p class="card-text">Chequeo de red la geodésica local y de poligonales de amarre, levantamiento de secciones transversales, marcación y replanteo de frente, dibujo y calculo de volúmenes, escaneo 3D de túnel. </p>
        </div>
        <div class="footer"></div>
    </div>
    <div class="card">
        <div class="caja"><img alt="..." class="card-img-top" data-target="#exampleModa3" data-toggle="modal" src="../../../assets/proyectos3.jpg"></div>
        <div class="card-body">
            <h5 class="card-title">METRO CABLE PICACHO - PORTICOS S.A. </h5>
            <p class="card-text">Levantamiento topográficos, localización a nivel de detalle, replanteo y nivelación en las diferentes estructuras que componen la obra del sistema del cable áereo denominado "Metro cable picacho" en las comunas 5 y 6 de Medellín.</p>
        </div>
        <div class="footer"></div>
    </div>
    <div class="card">
        <div class="caja"><img alt="..." class="card-img-top" data-target="#exampleModa4" data-toggle="modal" src="../../../assets/proyectos4.jpg"></div>
        <div class="card-body">
            <h5 class="card-title">PUENTE CAUCA Y MAR VALLE - CONSORCIO PIPINTÁ</h5>
            <p class="card-text">Localización y replanteo de los puentes sobre el río cauca y puente marvalle en el pacífico 2.</p>
        </div>
        <div class="footer"></div>
    </div>
    <div class="card">
        <div class="caja"><img alt="..." class="card-img-top" data-target="#exampleModa5" data-toggle="modal" src="../../../assets/proyectos5.jpg"></div>
        <div class="card-body">
            <h5 class="card-title">LOMA LOS PARRA - INGEVÍAS S.A.</h5>
            <p class="card-text">Gestión topográfica para el proyecto ampliación de la loma los parra entre la avenida el poblado cra 43 a y la avenida 34 con sus obras complementarias.</p>
        </div>
        <div class="footer"></div>
    </div>
    <div class="card">
        <div class="caja"><img alt="..." class="card-img-top" data-target="#exampleModa6" data-toggle="modal" src="../../../assets/proyectos6.jpg"></div>
        <div class="card-body">
            <h5 class="card-title">CONSORCIO PLAN VIAL 2015 - CONASFALTOS S.A.</h5>
            <p class="card-text">Control topográfico para la construcción de las obras del mega plan de movilidad envigado: Ampliación de la calle 37 sur, construcción del intercambio vial de la salle, construccion de la paralela de la quebrada ayurá, etapa 1.</p>
        </div>
        <div class="footer"></div>
    </div>
    <div class="card">
        <div class="caja"><img alt="..." class="card-img-top" data-target="#exampleModa7" data-toggle="modal" src="../../../assets/proyectos7.jpg"></div>
        <div class="card-body">
            <h5 class="card-title">METRO CABLE LÍNEA H Y M - INTEGRAL S.A.</h5>
            <p class="card-text">Gestión topográfica para el proyecto cables linea H y linea M que se desprenderán del proyecto tranvía ayacucho, en las estaciones miraflores y Alejandro Echavarría.</p>
        </div>
        <div class="footer"></div>
    </div>
    <div class="card">
        <div class="caja"><img alt="..." class="card-img-top" data-target="#exampleModa8" data-toggle="modal" src="../../../assets/proyectos8.jpg"></div>
        <div class="card-body">
            <h5 class="card-title">CONSORCIO ATI AYACUCHO - ACI PROYECTOS (COLOMBIA) - INGEROP (FRANCIA) - TEC4 (ESPAÑA)</h5>
            <p class="card-text">Gestión topográfica para la interventoría del proyecto tranvia de ayacucho, cuyo objeto es la supervisión tecnica y apoyo especializado para la etapa de implementación del proyecto corredor verde avenida ayacucho</p>
        </div>
        <div class="footer"></div>
    </div>
    <div class="card">
        <div class="caja"><img alt="..." class="card-img-top" data-target="#exampleModa9" data-toggle="modal" src="../../../assets/proyectos9.jpg"></div>
        <div class="card-body">
            <h5 class="card-title">PARQUES DE RÍO - GUINOVART OBRAS Y SERVICIOS HISPANIA</h5>
            <p class="card-text">Gestión topográfica para la construcción de la etapa 1.1 del proyecto "parques del río Medellín" en el tramo de la autopista sur comprendido entre la estación industriales del metroplús y la biblioteca pública piloto, con sus obras complementarias.</p>
        </div>
        <div class="footer"></div>
    </div>
    <div class="card">
        <div class="caja"><img alt="..." class="card-img-top" data-target="#exampleModa10" data-toggle="modal" src="../../../assets/proyectos10.jpg"></div>
        <div class="card-body">
            <h5 class="card-title">CARRETERA MÁLAGA LOS CUROS - ESTYMA S.A.S</h5>
            <p class="card-text">Gestión topográfica para la recuperación de la carretera málaga - los curos en los municipios de: Curos, La guaca, San Andres, y Málaga del departemento de Santander.</p>
        </div>
        <div class="footer"></div>
    </div>
    <div class="card">
        <div class="caja"><img alt="..." class="card-img-top" data-target="#exampleModa11" data-toggle="modal" src="../../../assets/proyectos11.jpg"></div>
        <div class="card-body">
            <h5 class="card-title">HIDROELÉCTRICA CUCUANA - CONSORCIO HIDROCUCUANA</h5>
            <p class="card-text">Gestión topográfica para la contrucción de las vias de acceso, tres túneles, seis portales campamentos, localización de tubería de carga y excavación estructural de la casa de maquinás del proyecto hidroeléctrico cucuana en el departamento
                del Tolima. </p>
        </div>
        <div class="footer"></div>
    </div>
    <div class="card">
        <div class="caja"><img alt="..." class="card-img-top" data-target="#exampleModa12" data-toggle="modal" src="../../../assets/proyectos12.jpg"></div>
        <div class="card-body">
            <h5 class="card-title">HIDROELÉCTRICAS DEL ORIENTE DE CALDAS - UT GC CHOC</h5>
            <p class="card-text">Ejecución de trabajos de topografía de localización y replanteo para la construcción de la central hidroeléctrica del Edén, en el municipio de Caldas.</p>
        </div>
        <div class="footer"></div>
    </div>
</div>


<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body"><img src="../../../assets/proyectos1.jpeg"></div>
            <div class="modal-footer"><button class="btn btn-outline-dark" data-dismiss="modal" type="button">Cerrar</button></div>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModa2" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body"><img src="../../../assets/proyectos2.jpeg"></div>
            <div class="modal-footer"><button class="btn btn-outline-dark" data-dismiss="modal" type="button">Cerrar</button></div>
        </div>
    </div>
</div>
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModa3" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body"><img src="../../../assets/proyectos3.jpg"></div>
            <div class="modal-footer"><button class="btn btn-outline-dark" data-dismiss="modal" type="button">Cerrar</button></div>
        </div>
    </div>
</div>
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModa4" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body"><img src="../../../assets/proyectos4.jpg"></div>
            <div class="modal-footer"><button class="btn btn-outline-dark" data-dismiss="modal" type="button">Cerrar</button></div>
        </div>
    </div>
</div>
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModa5" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body"><img src="../../../assets/proyectos5.jpg"></div>
            <div class="modal-footer"><button class="btn btn-outline-dark" data-dismiss="modal" type="button">Cerrar</button></div>
        </div>
    </div>
</div>
<div aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModa6" role="dialog" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body"><img src="../../../assets/proyectos6.jpg"></div>
            <div class="modal-footer"><button class="btn btn-outline-dark" data-dismiss="modal" type="button">Cerrar</button></div>
        </div>
    </div>
</div>
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModa7" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body"><img src="../../../assets/proyectos7.jpg"></div>
            <div class="modal-footer"><button class="btn btn-outline-dark" data-dismiss="modal" type="button">Cerrar</button></div>
        </div>
    </div>
</div>
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModa8" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body"><img src="../../../assets/proyectos8.jpg"></div>
            <div class="modal-footer"><button class="btn btn-outline-dark" data-dismiss="modal" type="button">Cerrar</button></div>
        </div>
    </div>
</div>
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModa9" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body"><img src="../../../assets/proyectos9.jpg"></div>
            <div class="modal-footer"><button class="btn btn-outline-dark" data-dismiss="modal" type="button">Cerrar</button></div>
        </div>
    </div>
</div>
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModa10" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body"><img src="../../../assets/proyectos10.jpg"></div>
            <div class="modal-footer"><button class="btn btn-outline-dark" data-dismiss="modal" type="button">Cerrar</button></div>
        </div>
    </div>
</div>
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModa11" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body"><img src="../../../assets/proyectos11.jpg"></div>
            <div class="modal-footer"><button class="btn btn-outline-dark" data-dismiss="modal" type="button">Cerrar</button></div>
        </div>
    </div>
</div>
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModa12" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body"><img src="../../../assets/proyectos12.jpg"></div>
            <div class="modal-footer"><button class="btn btn-outline-dark" data-dismiss="modal" type="button">Cerrar</button></div>
        </div>
    </div>
</div>