<div class="card-columns animated fadeIn" id="contenedor">
    <div class="card">
        <div class="caja"><img alt="..." class="card-img-top" src="../../../assets/servicios1.jpg"></div>
        <div class="card-body">
            <div class="caja">
                <h5 class="card-title">Servicios Topográficos.</h5>
            </div>
            <p class="card-text">Realizamos estudios y análisis del terreno, los cuales permiten efectuar levantamientos topográficos, obteniendo así un plano real del terreno para que pueda ejecutar su proyecto.</p>
        </div>
        <div class="footer"></div>
    </div>
    <div class="card">
        <div class="caja"><img alt="..." class="card-img-top" src="../../../assets/servicios2.jpg"></div>
        <div class="card-body">
            <h5 class="card-title">Tecnología Laser Escaner 3D.</h5>
            <p class="card-text">Contamos con un nuevo y eficiente método para agilizar y modelar sus proyectos en cualquier forma o tamaño, logrando documentar geométrica y visualmente cada detalle.</p>
        </div>
        <div class="footer"></div>
    </div>
    <div class="card">
        <div class="caja"><img alt="..." class="card-img-top" src="../../../assets/servicios3.jpg"></div>
        <div class="card-body">
            <h5 class="card-title">Topografía Digital con Drones.</h5>
            <p class="card-text">Estamos a la vanguardia de la tecnología implementando nuestros servicios de alta precisión y definición de levantamientos, verificación de áreas y linderos, planos georreferenciados y lotes, usando drones, GPS y cámaras digitales.</p>
        </div>
        <div class="footer"></div>
    </div>
    <div class="card">
        <div class="caja"><img alt="..." class="card-img-top" src="../../../assets/servicios4.png"></div>
        <div class="card-body">
            <h5 class="card-title">Diséños geométricos de vías.</h5>
            <p class="card-text">Técnica que consiste en el estudio de la viabilidad y posterior trazado de la vía, teniendo en cuenta todos los aspectos topográficos, geológicos, ambientales, sociales, urbanísticos y económicos.</p>
        </div>
        <div class="footer"></div>
    </div>
    <div class="card">
        <div class="caja"><img alt="..." class="card-img-top" src="../../../assets/servicios5.jpeg"></div>
        <div class="card-body">
            <h5 class="card-title">Gestión y ejecución de proyectos de ingeniería</h5>
            <p class="card-text">Nos encargamos de la gestión, control y ejecución de sus proyectos, poniendo a disposición de nuestros clientes personal altamente calificado y con amplia experiencia.</p>
        </div>
        <div class="footer"></div>
    </div>
    <div class="card">
        <div class="caja"><img alt="..." class="card-img-top" src="../../../assets/servicios6.jpg"></div>
        <div class="card-body">
            <h5 class="card-title">Alquiler de equipos de topografía.</h5>
            <p class="card-text">Ofrecemos el servicio de alquiler de los mejores equipos de topografía, niveles ópticos y electrónicos, equipos de medición: prismas, trípodes, miras y otros, calibrados y certificados.</p>
        </div>
        <div class="footer"></div>
    </div>
</div>