<div class="card animated fadeIn">
    <div class="card-body">
        <h5 class="card-title animated fadeInDown">Directriz Organizacional</h5>
        <p class="card-text">Somos una empresa dedicada a la prestación de servicios de alta ingeniería aplicados a la gestión eficaz de los procesos topográficos y el diseño geométrico de vías; integramos en la ejecución de cada proyecto talento humano con alto nivel de
            competencia y de desempeño, softwares de alta innovación y la tecnología más avanzada en equipos. En el año 2024 lideraremos la topografía de los proyectos más importantes del país, brindando a nuestros clientes experiencia e innovación que
            les sirvan de pilar en la ejecución de los proyectos de infraestructura; además de proveedores, buscamos ser aliados estratégicos, aportándole en la concepción, ejecución y entrega final de los proyectos, apalancados en el mejoramiento continuo
            del sistema integrado de gestión.</p>
    </div>
</div>

<div class="card" id="sig">
    <div class="card-header  animated fadeInDown">
        Objetivos estratégicos del SIG
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Identificar, valorar y controlar los impactos ambientales y peligros, estbleciendo los respectivos controles.</li>
        <li class="list-group-item">Proporcionar condiciones y/o lugares de trabajo seguros, saludables y limpios.</li>
        <li class="list-group-item">Prevenir lessiones y deterioro de la salud relacionados con el trabajo.</li>
        <li class="list-group-item">Implementar acciones de mejoramiento continuo de los procesos.</li>
    </ul>
</div>
<div class="psg animated fadeIn">
    <img src="../../../assets/psg.jpg" alt="">
</div>