<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a _ngcontent-c1="" class="navbar-brand animated swing" href="#"><img _ngcontent-c1="" alt="" class="d-inline-block align-top" src="../assets/logo.svg"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['inicio']">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['conocenos']">Conócenos</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['servicios']">Servicios</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Proyectos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" [routerLink]="['toyo']">Tunel del toyo</a>
                    <a class="dropdown-item" [routerLink]="['linea-p']">Metro cable linea p</a>
                    <a class="dropdown-item" [routerLink]="['mulatos']">tunel mulatos</a>
                    <hr>
                    <a class="dropdown-item" [routerLink]="['proyectos']">Ver todos los proyectos</a>
                </div>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['contactanos']">Contáctanos</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['trabaja']">Trabaja con nosotros</a>
            </li>
        </ul>
    </div>
</nav>