<div class="footer">
    <p><i class="fas fa-phone mr-3"></i>+(57) (4) 581 11 18</p>
    <p><i class="fas fa-envelope mr-3"></i>intopco@intopco.com.co</p>
    <p><i class="fas fa-map-marked-alt mr-3"></i>Cr 35A # 15B - 35 Ofi 620</p>
</div>

<div class="footer-copyright">
    <div class="pie">Diseñado por
        <a href="http://www.solusistem.com.co" target="_blank"><img _ngcontent-c2="" src="../../../../assets/solusistem.png"></a>
    </div>
</div>


<!--<footer class="page-footer font-small unique-color-dark">
    <div class="footer2">
        <div class="container">
            <div class="row py-4 d-flex align-items-center">
                <div class="contenedor">
                    <p><i _ngcontent-c2="" class="fas fa-phone mr-3"></i> +(57) (4) 581 11 18 </p>

                </div>
                <div class="contenedor">
                    <p><i _ngcontent-c2="" class="fas fa-envelope mr-3"></i>intopco@intopco.com.co</p>

                </div>
                <div class="contenedor">
                    <p><i _ngcontent-c2="" class="fas fa-map-marked-alt mr-3"></i> Cr 35A # 15B - 35 Ofi 314</p>

                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="pie">Diseñado por
            <a href="http://www.solusistem.com.co" target="_blank"><img _ngcontent-c2="" src="../../../../assets/solusistem.png"></a>
        </div>
    </div>
</footer>-->